<div id="homepage-background">
		
	<div class="content">
		<div id="homepage-content">
			<div id="homepage-container">
				
			<h1 class="title">
				Instergram
			</h1>
		
			</div>

		</div>


	</div>

</div>