<div id="homepage-background">

	<video autoplay muted loop id="myVideo">
	  <source src="/videos/light.mp4" type="video/mp4">
	</video>

	<%# video_tag("/videos/light.mp4") %>
		
	<div class="content">
		<div id="homepage-content">
			<div id="homepage-container">
				
			<div class="title">
				<img src="/assets/instrgrm.png" id="homepage-logo">
			</div>

			<div class="homepage-text">
				
			</div>

			<div class="homepage-signup">
				
       			<%= link_to "Sign up", new_user_path %>
			</div>
		
			</div>

		</div>


	</div>

</div>