<h1>
	Hello <%=@user.username%>
</h1>

<%=link_to 'Update Info', "/users/#{@user.id}/edit" %>

<%=link_to 'Posts', "/posts/#{@user.id}" %>


<div class="container">
	
	<div class="content">
		
		<div class="image_grid">
			<img src="/assets/post01.jpg" class="image-grid-item">
		</div>

		<div class="image_grid">
			<img src="/assets/post02.jpg" class="image-grid-item">
		</div>

		<div class="image_grid">
			<img src="/assets/post03.jpg" class="image-grid-item">
		</div>

		<div class="image_grid">
			<img src="/assets/post04.jpg" class="image-grid-item">
		</div>

		<div class="image_grid">
			<img src="/assets/post05.jpg" class="image-grid-item">
		</div>

		<div class="image_grid">
			<img src="/assets/post06.jpg" class="image-grid-item">
		</div>

		<div class="image_grid">
			<img src="/assets/post07.jpg" class="image-grid-item">
		</div>

		<div class="clear"></div>

	</div>

</div>