


<div class="container">
	
	<div class="content">

		<h1>
	Hello <%=@user.username%>
</h1>

<%=link_to 'Update Info', "/users/#{@user.id}/edit" %>

<%=link_to 'Posts', "/posts/#{@user.id}" %>

		<h1 id="post-content-title">
			All posts
		</h1>


		<div class="image_grid">
			<a href="#"><img src="/assets/post01.jpg" class="image-grid-item"></a>
			<p class="image-text">Text</p>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post02.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post03.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post04.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post05.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post08.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post07.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post09.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post10.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post11.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post12.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post13.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post14.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post15.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post16.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post17.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post18.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post19.jpg" class="image-grid-item"></a>
		</div>



		<div class="image_grid">
			<a href="#"><img src="/assets/post20.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post21.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post22.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post23.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post24.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post25.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post26.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post27.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post28.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post29.jpg" class="image-grid-item"></a>
		</div>


		<div class="image_grid">
			<a href="#"><img src="/assets/post30.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post31.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post32.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post33.jpg" class="image-grid-item"></a>
		</div>

		<div class="image_grid">
			<a href="#"><img src="/assets/post34.jpg" class="image-grid-item"></a>
		</div>

		<div class="clear"></div>

	</div>

</div>