/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import 'bootstrap-sprockets';
 @import 'bootstrap';

 body {
   padding-top: 70px;
 }

 h1 {
 	margin: 0;
 }

 header {
 	background-color: #fff;
 }


.image-grid {
	width: 250px;
}

.image-grid-item {
	width: 250px;
	float: left;
}

.image-grid-item {
	-webkit-filter: grayscale(85%);
	filter: grayscale(85%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.image-grid-item:hover {
	-webkit-filter: grayscale(0);
    filter: grayscale(0);
}

#post-content-title {
	text-align: center;
	margin: 20px 0;
	font-size: 1.8em;
}

.image-text {
display: none;
}

.image-grid:hover .image-text {
display: block;
}







.logo {
	float: left;
	margin: 0;
	padding-top: 9px;
	font-size: 1.8em;
}

.logo img {
	width: 100px;
}

.logo-image {
	float: left;
	padding: 11px 15px 0 0;
}

.logo-image img {
	width: 30px;
}

.title {
	text-align: center;
	margin-top: 20px;
}

.container {
	width: 100%;
	margin: 0;
	padding: 0;
}

.nav-content {
	width: 1000px;
	margin: auto;
}

.content {
	width: 1000px;
	margin: auto;
}

.homepage-text {
	height: 290px;
}

.homepage-signup {
	text-align: center;
}

.homepage-signup a:link, .homepage-signup a:active, .homepage-signup a:visited {
	color: #555;
}

.homepage-signup a:hover {
	color: #aaa;
	text-decoration: none;
}

#homepage-logo {
	width: 200px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#homepage-container {
}

#homepage-content {
	width: 500px;
	height: 600px;
	margin: auto;
	border: 1px #ddd solid;
	border-radius: 5px;
	padding: 20px;
	background-color: #fff;

	position: relative;
		top: 100px;
}

#homepage-background {
	background-color: #f6f6f6;
	height: 95vh;
	border-top: 7px #ddd solid;
}

.clear {
	clear: both;
}
